

<div class="container" >
    <div class="register-form">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center">register</h2>
                <form id="login-form" class="" [formGroup]="registerform" (submit)="submit()">
                    <div class="form-group">
                        <label for="name">name</label>
                        <input type="text" class="form-control" id="name" formControlName="name" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">phone</label>
                        <input type="number" class="form-control" id="phone" formControlName="phone"  required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" formControlName="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password"formControlName="password" required>
                    </div>
                    <div class="form-group">
                        <label class="form-label mt-3">add Your Photo</label>
                        <input type="file" (change)="uploadImage($event.target)" formControlName="image" class="form-control" >
                    </div>
                    <button type="submit" [disabled]="registerform.invalid" class="btn btn-primary mt-3">Register</button>
                    <span class="m-2" style="color: red;">{{message}}</span>

                </form>
            </div>
        </div>
    </div>
</div>
